* {
  box-sizing: border-box;
}
:root {
  --task-border: 2px solid black;
  --accent-color: #eafffe;
}
body {
  font-family: sans-serif;
  font-size: 1.125rem;

  margin: 0;

  text-align: center;
}

/* Typography */
.title {
  font-size: 3.5rem;

  margin: 0 auto 0.1em;

  text-align: center;
}
.logo-text {
  font-size: 1.5rem;
  margin: 0;
}

.description {
  font-size: 2rem;

  overflow: hidden;

  margin: 0;

  white-space: nowrap;
  text-overflow: ellipsis;
}

/* Layout */

.btn {
  display: inline-block;
  cursor: pointer;
  border: none;
}

.nav {
  display: flex;
  align-items: center;
}
.nav-link {
  display: flex;
  text-decoration: none;
  color: black;
  padding: 0.5em;
  height: 3rem;
}
.logo {
  height: 100%;
  margin-left: -1em;
}

.task {
  display: grid;

  width: 100%;
  height: 25vw;

  border-top: var(--task-border);

  grid-template-columns: 25vw repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "checkbox description description"
    "checkbox edit delete";
}
.task:last-child {
  height: calc(25vw + 3px);

  border-bottom: var(--task-border);
}
.checkbox-wrapper,
.edit {
  border-right: var(--task-border);
}
.checkbox-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  grid-area: checkbox;
}
.checkbox {
  width: 60%;
  height: 60%;

  color: transparent;
  border: 5px solid black;
  background-color: transparent;

  appearance: none;
}
.checkbox:checked,
.task-button {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.checkbox:checked {
  background-image: url("./img/checkmark.svg");
}
.description-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  grid-area: description;
}
.task-button {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;

  border-top: var(--task-border);
  background-color: var(--accent-color);
}
.edit {
  background-image: url("../src/img/gear.svg");

  grid-area: edit;
}
.delete {
  cursor: pointer;

  background-image: url("../src/img/trash.svg");

  grid-area: delete;
}
.action-icon {
  width: auto;
  height: 32px;
}
.new-task {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0 auto;
}
.create-new-task-text {
  font-size: 1.5rem;
  /* font-weight: 700; */
}
.create-new-task-button {
  font-size: 3rem;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 3rem;
  height: 3rem;
  margin-left: 0.5em;
  padding: 0.2em;

  text-decoration: none;

  color: black;
  border-radius: 50%;
  background-color: green;
}
.task-disabled * {
  opacity: 0.7;
  text-decoration: line-through;
  background-color: #777;
}
/* EditTask */
.edit-task {
  display: grid;
  justify-content: center;

  width: 80%;
  margin: 0 auto;

  grid-template-columns: 100%;
  grid-auto-rows: 20vw;
}
.task-description-form {
  margin-top: 3em;
}
.task-description-form > * {
  display: block;

  width: 70%;
  height: 2rem;
  margin: 0 auto;
}
.task-description-input {
  margin: 0.5em auto;
  padding: 0.2em 0.5em;

  border: 1px solid #404040;
}
.btn-submit {
  font-size: 0.75rem;
  font-weight: 700;

  box-sizing: border-box;
  padding: 0.5em 1.5em;

  letter-spacing: 1px;
  text-transform: uppercase;

  background-color: limegreen;
}
/* media queries */

@media screen and (min-width: 450px) {
  .title {
    font-size: 5rem;
  }
  .description {
    font-size: 3rem;
  }
  .task-description-input-label,
  .task-description-input {
    font-size: 1.5rem;
  }
  .task-description-form > * {
    height: 2.5rem;
  }
}

@media screen and (min-width: 600px) {
  .task {
    height: 15vw;

    grid-template-columns: 15vw 55vw repeat(2, 15vw);
    grid-template-areas: "checkbox description edit delete";
    grid-template-rows: 1fr;
  }
  .task:last-child {
    height: calc(15vw + 3px);
  }
  .edit,
  .delete {
    border-top: 0;
  }
  .title {
    font-size: 5.5rem;
  }
  .description {
    font-size: 4rem;
  }
  .task-description-form {
    margin-top: 0;
  }
  .task-description-form > * {
    height: 3rem;
  }
  .task-description-input,
  .task-description-input-label {
    font-size: 2rem;
  }
}
